<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users list</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>  

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Profile for {{ name }}</h1>
        <p>Created at {{ date }}</p>
        <h2>Editable profile fields</h2>
        <div class="col-md-4">
            <form>
            <div class="form-check">
              {% for key, value in profile.items() %}
                {% if key[-8:]=='Textarea' %}
                    <label>{{ key }}</label>
                    <textarea  class="form-control">{{ value }}</textarea>
                {% endif %}
                {% if key[-7:]=='Select1' %}
                    <label>{{ key }}</label>
                    <select class="form-control" id="exampleSelect1" name="exampleSelect1">
                        {% for val in range(5) %}
                            {% if val+1==value|int %}
                               <option selected>{{ val +1 }}</option>
                            {% else %}
                               <option>{{ val+1  }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
                {% if key[-7:]=='Select2' %}
                    <label>{{ key }}</label>
                    <select multiple class="form-control" id="exampleSelect1" name="exampleSelect1">
                        {% for val in range(5) %}
                            {% if val|string in value %}
                               <option selected>{{ val +1 }}</option>
                            {% else %}
                               <option>{{ val+1  }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
<!-- 
                    <label>{{ key }}</label>
                    <input value="{{ value }}"> -->
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

   </div>
</body>
</html>